html {
  background-color:  rgb(253,248,171);
}
body {
  background-color:  rgb(255,255,255);
  border:  3px solid rgb(75,75,75);
  box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
  width: 760px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding:  15px;
}
h1 {
  font-size: 2.75em;
  font-family: Georgia, "Times News Roman", Times, serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(133, 161, 16);
  text-transform: uppercase;
}
