html {
  background-color:  rgb(253,248,171);
}
body {
  background-color:  rgb(255,255,255);
  border:  3px solid rgb(75,75,75);
  width: 760px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding:  15px;
}
