.pagestyle {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #BD8100;
  width: 900px;
  margin: 0 auto;
}
p {
  color: #FF6600;
  margin-left: 50px;
  padding-left: 20px;
  border-left: solid 25px #BD8100;
}
